{% for agent in agents %}
class {{ agent.name }}(Agent):
    def __init__(self, agt_name=None):
        super().__init__(agt_name)
        {% for belief in agent.beliefs %}
        {% if belief.vals %}
        self.add(Belief("{{ belief.name }}", {% if belief.vals|length == 1 %}{{ belief.vals[0] }}{% else %}({{ belief.vals|join(', ') }}){% endif %}, adds_event=False))
        {% else %}
        self.add(Belief("{{ belief.name }}", adds_event=False))
        {% endif %}
        {% endfor %}
        {% for desire in agent.desires %}
        {% if desire.vals %}
        self.add(Goal("{{ desire.name }}", {% if desire.vals|length == 1 %}{{ desire.vals[0] }}{% else %}({{ desire.vals|join(', ') }}){% endif %}))
        {% else %}
        self.add(Goal("{{ desire.name }}"))
        {% endif %}
        {% endfor %}
        {% if agent.focus_groups %}
        self.filter_perceptions(add, focus, [{% for group in agent.focus_groups %}'{{ group }}'{% if not loop.last %}, {% endif %}{% endfor %}])
        {% endif %}
        {% if agent.ignore_groups %}
        self.filter_perceptions(add, ignore, [{% for group in agent.ignore_groups %}'{{ group }}'{% if not loop.last %}, {% endif %}{% endfor %}])
        {% endif %}

    {% for plan in agent.plans %}
    @pl({{ plan.event_change }}, {% for condition in plan.conditions %}{% if not loop.first %}, {% endif %}{% if condition[0] == 'believes' %}Belief("{{ condition[1] }}"){% else %}Goal("{{ condition[1] }}"){% endif %}{% endfor %}{% if plan.context %}{% for context in plan.context %}, {% if context[0] == 'believes' %}Belief("{{ context[1] }}"){% else %}Goal("{{ context[1] }}"){% endif %}{% endfor %}{% endif %})
    def {{ plan.name }}(self, src, *args, **kwargs):
        {% for action in plan.actions %}
        {% if action.type == 'send' %}
        {% set rec = 'broadcast' if action.details.receiver == 'broadcast' else "'" + action.details.receiver + "'" %}
        {% if action.details.act_type in ['tell', 'untell', 'askOne', 'askAll'] %}
        self.send({{ rec }}, {{ action.details.act_type }}, Belief("{{ action.details.content }}"), "{{ action.details.channel }}")
        {% elif action.details.act_type in ['achieve', 'unachieve', 'askHow'] %}
        self.send({{ rec }}, {{ action.details.act_type }}, Goal("{{ action.details.content }}"), "{{ action.details.channel }}")
        {% elif action.details.act_type in ['tellHow', 'untellHow'] %}
        plan_{{ loop.index }} = self.get(Plan, Goal("{{ action.details.content }}"))
        self.send({{ rec }}, {{ action.details.act_type }}, plan_{{ loop.index }}, "{{ action.details.channel }}")
        {% endif %}
        {% elif action.type == 'ask' %}
        {% set rec = 'broadcast' if action.details.receiver == 'broadcast' else "'" + action.details.receiver + "'" %}
        self.ask({{ rec }}, Belief("{{ action.details.content }}"), wait_reply={{ action.details.wait_reply }}, channel="{{ action.details.channel }}")
        {% else %}
        self.add(Goal("{{ action.details.goal }}"))
        {% endif %}
        {% endfor %}
        
    {% endfor %}

{% endfor %}