{% for agent in agents %}
class {{ agent.name }}Agent(Agent):
    def __init__(self, name=None):
        super().__init__(name)
        {% for belief in agent.beliefs %}
        self.add(Belief('{{ belief }}'))
        {% endfor %}
        {% for desire in agent.desires %}
        self.add(Goal('{{ desire }}'))
        {% endfor %}

    {% for plan in agent.plans %}
    @pl(gain, [{{ plan.conditions|dataType }}]{% if plan.context %}, [{{ plan.context|dataType }}]{% endif %})
    def {{ plan.name }}(self, src):
        {% for action in plan.actions %}
        {% if action.type == 'send' %}
        self.send(
            content={{ action.message|dataType }},
            receiver={{ action.receiver }},
            protocol='{{ action.protocol }}'
        )
        {% elif action.type == 'receive' %}
        self.handle_message(
            message_type={{ action.message|dataType }},
            handler=self.{{ action.handler }}
        ){% endif %}
        {% endfor %}
    {% endfor %}

{% endfor %}