{% for env in envs %}
class {{ env.name }}Environment(Environment):
    def __init__(self, name):
        super().__init__(name)
        {% for perception in env.perceptions %}
        self.create(Percept('{{ perception }}'))
        {% endfor %}

    {% for action in env.actions %}
    def {{ action.name }}(self, src):
        {% for act in action.actions %}
        self.{{ act.split()[0]|changeStr(False) }}({{ act.split()[1]|dataType(act.split()[0]) }})
        {% endfor %}
    {% endfor %}

{% endfor %}